.navbar {
  padding: 10px;
  margin: 0 auto;
  max-width: 90%;
  background-color: $primary-color;

  .navbar-toggler {
    border: none;
    background-color: #6c757d;

    .navbar-toggler-icon {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LndvcmcuY29tL3htbG4iPgogIDxwYXRoIGQ9Ik00IDZoMTZNNCAxMmgxNkw0IDE4aDE2IiBzdHJva2U9IiN3aGl0IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPjwvcGF0aD4KPC9zdmc+');
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
    }
  }
}